# Copy this file to .env and set the appropriate environment variable(s) for your application.
AIRTOP_API_KEY=""
requires_login="False"
TARGET_URL="https://en.wikipedia.org/wiki/A.I._Artificial_Intelligence"
DB_NAME="homolog.db"
EXTRACT_DATA_PROMPT = "Summarize in one paragraph the content of the page"