[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langgraph = "*"
langsmith = "*"
langchain-anthropic = "*"
python-dotenv = "*"
airtop="*"
pydantic-settings = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"

[scripts]
lead_generation_recipe = "python main.py"
